@model HomeViewModel 
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (Model.IsMaintenanceOn)
    {
        <div class="alert alert-danger">
        <strong>Maintenance mode is on.</strong>
        @if (Model.EndsOn != null)
        {
            <p>It will automatically end on @Model.EndsOn</p>
        }
        </div>
    }

    @using (Html.BeginForm("MaintenanceMode", "Home", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.IsMaintenanceOn)
        <input type="datetime-local" asp-for="EndsOn" />
        @if (Model.IsMaintenanceOn)
        {
            <button class="btn btn-primary" type="submit">Leave maintenance mode</button>
        }
        else
        {
            <button class="btn btn-danger" type="submit">Enter maintenance mode</button>
        }
    }
</div>
