@{
    ViewData["Title"] = "Error";
}

<div class="row">
    <div class="col-12">
        <div class="alert alert-success">
            <strong>This page is down for maintenance.</strong>
        </div>
    </div>
</div>